:root {
  /* COLORS */
  --theme-focus: #ddd;
  --theme-header: #f9f9f9a6;
  --theme-icon: #444;
  --theme-input: #444;
  --theme-ripple: #0004;
  --theme-surface: #fff;
  --theme-text: #444;

  /* SHARED */
  --theme-primary: #a497ab;
  --theme-primary-alpha: #a497abcc;
  --theme-secondary: #e6e0ce;
  --theme-secondary-alpha: #e6e0cecc;
  --theme-accent: #c6cadc;
  --theme-accent-alpha: #c6cadccc;
  --theme-fab: #fff;
  --theme-border: #ccc;
  --theme-shadow: 1px 1px 8px rgb(0 0 0 / 25%);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* COLORS */
    --theme-focus: #666;
    --theme-header: #272727a6;
    --theme-icon: #fff;
    --theme-input: #424242;
    --theme-ripple: #fff7;
    --theme-surface: #212121;
    --theme-text: #fff;
  }
}
